/*styles for loading template*/

#loadingPage h4 {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

#loadingIcon {
    margin: auto;
    margin-top: -9.5rem;
    align-content: center;
    align-self: center;
    border: 0px solid transparent; /* Light grey */
    border-top: 2px solid #E30054; /* primary hot pink color */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* CSS declarations go here */
*{
	font-size: 16px;
  margin: 0;
	padding: 0;

}

html, #__blaze-root {
	height: 100%;
}

body{
	height: 100%;
	color: hsl(13.45,39.23%,80%)/*rgba(75, 107, 40, 1)*/;
	background-color: rgba(48, 5, 21, 1);
	background: linear-gradient(180deg, rgba(9, 0, 3, 1), rgba(48, 5, 21, 0.9)), url("BG.jpg") no-repeat center;
	background-position: right top;
  background-attachment: fixed;
  background-size: cover; 
}


#main {
	min-height: 100%;
  overflow: auto;
  padding-top: 7.3rem;
  padding-bottom: 3rem;
  margin-top: -7.3rem;
  /* must be same height as the footer */
}

nav{
	position: relative;
	/*clear: both;*/
}

footer {
  position: relative;
  margin-top: -3rem;
  /* negative value of footer height */
  height: 3rem;
  clear: both;
}

/* Opera Fix */

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}



title, h3, h6 {
	color: hsl(13.45,59.23%,50%);
}

h2, h4, h6, table {
  color: hsl(13.45,49.23%,65%);
}

.logo {
  width: 30px;
  position: fixed;
  z-index: -1;
}

.share_btn {
  border-width: 1px;
  border-style: solid;
  border-color: #470651;
  border-radius: 0;
}

.share_icon {
  color: #9E01B4;
}

.share_btn:hover{
  border-color: #9E01B4;
}

.pagination {
  color: rgba(255, 57,  0,0.2);
}

.pagination:hover {
  cursor: pointer;
  color: rgba(255, 57,  0,1);
}

.return-home {
  display: block;
  color: black;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.return-home:hover {
  text-decoration: none;
  color: black;
  background-color: hsl(0,0%,70%);
  cursor: pointer;
}
